.admin > h2{
	text-align: center;
}

.loader {
	text-align: -webkit-center;
}

.inputs{
	display: flex;
	flex-direction: column;
}

.inputs > button {
	width: fit-content;
	margin : auto;
	margin-top: 3rem;
}

.first {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.first > label{
	width: 10rem;
}