.editor{
	display: flex;
  flex-direction: column;
	text-align: center;
}

.editor > span{
	margin: 1rem 0;
}

.editor > button {
	width: fit-content;
	margin: auto;
}

#frm{
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border : none;
	margin: auto;
	align-items: center;
}

#frm > span {
	display: flex;
	padding: 1rem 0;
}

#frm > span > label {
	width: 10rem;
}