.editor{
	display: flex;
  flex-direction: column;
	text-align: center;
}

.editor > span{
	margin: 1rem 0;
}

.editor > button {
	width: fit-content;
	margin: auto;
}

.frm{
	border :none;
	align-items: center
}