.info {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.info > span{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.info > span >label {
	width: 10rem;
}

.frm > button {
	width: fit-content;
	margin: auto;
	margin-top: 2rem;
}