.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.layout{
	width: 70%;
	margin: auto	;
	border: 1px solid #D6EFFF;
	border-radius: 4px;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
	0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header{
	padding: 2rem;
	text-align: center;
	background-color: #FE654F;
}

.header > img {
	width: 10rem;
}

.nav{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background-color: #d6efff;
	margin-top: -1rem;
	padding-left: 0;
}

.nav-admin{
  display: flex;
	justify-content: space-around;
	list-style-type: none;
	background-color: #d6efff;
	margin-top: -1rem;
	padding-left: 0;
}

.nav-admin > li {
	padding: 1rem 7.5rem;
	border: 1px solid white;
	color: black;
	font-size: 20px;
	font-weight: 600;
}

.logout:hover{
color: white;
}

.logout {
	font-size: larger;
	font-weight: 600;
}

.nav > li {
	padding: 1rem 15rem;
	border: 1px solid white;
}

.nav > li:hover , .nav-admin > li:hover{
	background-color: #FED99B;
}

.nav > li> a:hover, .nav-admin > li> a:hover{
	color: #FEFEFF;;
}

.nav > li >a , .nav-admin > li > a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: 600;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
